h1 {
    text-align: left;
    font-size: 40px;
    float: left;
    color: #fff;
    margin: 10px;
    padding: 5px;
}

img {
    border-radius: 400px;
    width: 20%;
    height: 20%;
    display: block;
    margin-right: auto;
    padding: 30px;
}

header {
    background-color: rgb(2, 105, 104);
}

.tabs ul {
    list-style-type: none;
    
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.tabs a {
    color: #fff;
    text-decoration-line: underline;
    padding: 25px;
    display: block;
}

.tabs li {
    float: right;
}

.tabs a:hover {
    background-color: rgb(10, 146, 146);
}

.About {
    background-color: #9de2e7;
}

.Contact-info {
    background-color: #9de2e7;
}

.Resume {
    background-color: #9de2e7;
}

.Projects {
    background-color: #9de2e7;
}

.content {
    padding: 30px;
}

@media (max-width: 750px) {
   h1{
    text-align: right;
    float: none;
    font-size: 30px;
    margin-right: 100px;
   }

   .tabs ul {
    list-style-type: none;
    background-color: rgb(2, 105, 104);
    padding: 0;
    margin: 0;
   }

   img {
    border-radius: 200px;
    width: 20%;
    height: 20%;
    padding-top: 20px;
    float: left;
}

   .tabs li {
    float: none;
   }

   .tabs a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    padding-top: 15px;

   }
    }
