{
    box-sizing: border-box;
}

html {
background-color: black;
}

header {
    width: 100%;
    height: 100%;
}

.pf img{
    width: 300px;
    height: 440px;
    border-radius: 80px;
    border: 10px aqua solid;
}

img {
    border-radius: 80px;
    border: 10px aqua solid;
}

#nav-bar {
    width: 100%;
    height: 40%;
}

h1 {
    font-size: 40px;
    background-color: aqua;
    width: 21%;
    padding: 5px;
}

li {
    text-decoration: none;
    list-style-type: none;
    font-size: 30px;
    background-color: aqua;
    color: black;
    display: inline;
    padding: 30px;
    border-radius: 80px;
}

