 h1{
        text-align: right;
        float: left;
        font-size: 60px;
        margin-top: 60px;
       }


.pf {
    width: 150px;
    height: 150px;
    display: flex;
    margin-right: auto;
    padding: 5px;
    float:left;
    margin-top: 15px;
}

header {
    background-color: rgb(2, 105, 104);
    height: 200px;
}

.tabs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.tabs a {
    color: #000000;
    text-decoration-line: underline;
    padding: 25px;
    display: block;
    margin-top: 60px;
}

.tabs li {
    float: right;
    font-size: 20px;
}

.tabs a:hover {
    background-color: rgb(10, 146, 146);
}

.About {
    background-color: #9de2e7;
    padding: 5%;
    font-size: 20px;
}

.Contact-info {
    background-color: #9de2e7;
    padding: 5%;
    font-size: 20px;
}

.Resume {
    background-color: #9de2e7;
    padding: 5%;
    font-size: 20px;
}

.Projects {
    background-color: #9de2e7;
    padding: 5%;
    font-size: 20px;
}


@media (max-width: 960px) {
   h1{
    text-align: right;
    float: none;
    font-size: 30px;
    margin-right: 130px;
    margin-top: 0;
   }


   header {
    background-color: rgb(2, 105, 104);
    height: 220px;
}

  .pf {
    width: 200px;
    height: 200px;
    float: left;
    margin-top: 5px;
}

   .tabs li {
    float: none;
   }

   .tabs a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    text-decoration-line: underline;
    text-align: center;
    padding-top: 5px;
    margin-top: 0;
   }

   .About {
    background-color: #9de2e7;
    padding: 10%;
    font-size: 20px;
}

.Contact-info {
    background-color: #9de2e7;
    padding: 10%;
    font-size: 20px;
}

.Resume {
    background-color: #9de2e7;
    padding: 10%;
    font-size: 20px;
}

.Projects {
    background-color: #9de2e7;
    padding: 10%;
    font-size: 20px;
}


.flex-container {
flex-direction: column;
padding: 20px;
}

 }
