h1 {
    display: inline;
    font-size: 50px;
    color: black;
    background-color: #9de2e7;
    padding-top: 2px;
}


.pf {
    width: 150px;
    height: 150px;
    display: flex;
    margin-right: auto;
    padding: 5px;
    float:left;
    margin-top: 15px;;
}

.pf img {
    border-radius: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top:-15px ;
}

ul {
    background-color: black;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100px;
}

#tech-img img {
    width: 1200px;
    height: 150px;
    margin-top: -70px;
}

h2 {
float: left;
padding: 40px;
border-right: 5px solid;
margin-right: 20px;
}


li {
display: inline;
padding: 20px;
list-style: none;
float: right;
font-size: 30px;
}


.content {
    background-color: #9de2e7;
    padding: 5px;
    font-size: 20px;
}


/*
@media (min-width: 720px) {
   h1{
    text-align: right;
    float: none;
    font-size: 30px;
    margin-right: 130px;
    margin-top: 0;
   }


   header {
    background-color: rgb(2, 105, 104);
    height: 220px;
    flex-direction: row;
}

  .pf {
    width: 200px;
    height: 200px;
    float: left;
    margin-top: 5px;
}

   .tabs li {
    float: none;
   }

   .tabs a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    text-decoration-line: underline;
    text-align: center;
    padding-top: 5px;
    margin-top: 0;
   }

   .About {
    background-color: #9de2e7;
    padding: 10%;
    font-size: 20px;
}

.Contact-info {
    background-color: #9de2e7;
    padding: 10%;
    font-size: 20px;
}

.Resume {
    background-color: #9de2e7;
    padding: 10%;
    font-size: 20px;
}

.Projects {
    background-color: #9de2e7;
    padding: 10%;
    font-size: 20px;
}


.flex-container {
flex-direction: column;
padding: 20px;
}

 }
 */
